<ng-include src="'partials/shared/_nav.html'"></ng-include>

<img src="../img/polls.jpg" alt="polls" class="polls">
<div ng-controller='mainController' class="reg">
  <form ng-submit="register()">
    <div><label for=""><input type='text' ng-model='user.name' placeholder='Name'></label></div>
    <button>Register</button>
  </form>
</div>
<div ng-controller='mainController' class="log">
  <form ng-submit="login()" name="form">
    <div><label for=""><input type='text' name="user" ng-model='user.name' placeholder='Name'></label></div>
    <button>Login</button>
  </form>
  <br>
  <p>{{ errors[0] }}</p>
  <!-- <div ng-if='errors'>
    <ul>
      <li ng-repeat='error in errors'>{{ error }}</li>
    </ul>
  </div> -->
</div>
